div.configure__title.uppercase.borderBottom {{'CONFIGURE_CONFIGURATION' | translate}}

div.configure__form.borderBottom
  form.appForm(novalidate, name="confiForm")
    div.configure--row.col--md12.col--sm12.col--xs12
      label.col--md3.col--sm12.col--xs12(for="firstName") {{'CONFIGURE_FIRST_NAME' | translate}}
      div.col--md9.col--sm12.col--xs12
        input(type="text", name="firstName", ng-model="firstName", required)
    div.configure--row.col--md12.col--sm12.col--xs12
      label.col--md3.col--sm12.col--xs12(for="lastName") {{'CONFIGURE_LAST_NAME' | translate}}
      div.col--md9.col--sm12.col--xs12
        input(type="text", name="lastName", ng-model="lastName", required)
    div.configure--row.col--md12.col--sm12.col--xs12
      label.col--md3.col--sm12.col--xs12 {{'CONFIGURE_FAVORITE_COLORS' | translate}}
      div.col--md9.col--sm12.col--xs12
        div.col--md--checkbox.col--sm3.col--xs6(ng-repeat="(key, val) in favoriteColors")
          input(type="checkbox", ng-model="favoriteColors[key]")
          label.capitalize {{key | translate}}
    div.configure--row.col--md12.col--sm12.col--xs12
      label.col--md3.col--sm12.col--xs12 {{'CONFIGURE_FAVORITE_CITY' | translate}}
      div.col--md9.col--sm12.col--xs12
        div.col--md12.col--sm12.col--xs12
          input(type="radio", value="Chicago", ng-model="favoriteCity", ng-required="!favoriteCity", name="favoriteCity")
          label Chicago
        div.col--md12.col--sm12.col--xs12
          input(type="radio", value="Seattle", ng-model="favoriteCity", ng-required="!favoriteCity", name="favoriteCity")
          label Seattle
        div.col--md12.col--sm12.col--xs12
          input(type="radio", value="Los Angeles", ng-model="favoriteCity", ng-required="!favoriteCity", name="favoriteCity")
          label Los Angeles
    div.configure--row.col--md12.col--sm12.col--xs12
      label.col--md3.col--sm12.col--xs12 {{'CONFIGURE_VERIFIED' | translate}}
      div.col--md9.col--sm12.col--xs12
        div.configure__switch(ng-class="{'configure__switch--on': isVerified, 'configure__switch--off': !isVerified}", ng-click="toggleVerified()")
          div.uppercase
          div.uppercase

div.configure--row.col--md12.col--sm12.col--xs12
  input.uppercase(type="button", class="configure__button configure__button--apply button--right", value="{{'CONFIGURE_APPLY_BUTTON' | translate}}", ng-click="submit()",
    ng-disabled="confiForm.$invalid || !checkRequired()")
  a.uppercase(ng-click="reset()") {{'CONFIGURE_RESET_BUTTON' | translate}}
  input.uppercase(type="button", class="configure__button configure__button--cancel", value="{{'CONFIGURE_CANCEL_BUTTON' | translate}}", ng-click="cancel()")
